# Versionen
POSTGRES_VERSION=16-alpine
REDIS_VERSION=7-alpine
SYNAPSE_VERSION=latest
ELEMENT_VERSION=latest

# PostgreSQL
POSTGRES_USER=synapse
POSTGRES_PASSWORD=!!POSTGRES_PASSWORD!!
POSTGRES_DB=synapse

# Synapse
SYNAPSE_REPORT_STATS=no
SYNAPSE_REGISTRATION_SHARED_SECRET=!!REGISTRATION_SHARED_SECRET!!

# Redis
REDIS_HOST=redis
