# Jitsi Meet Umgebungsvariablen für docker compose
JITSI_IMAGE_VERSION=stable-10741
JVB_PORT=!!JVB_PORT!!
JVB_AUTH_PASSWORD=!!JVB_AUTH_PASSWORD!!
JICOFO_AUTH_PASSWORD=!!JICOFO_AUTH_PASSWORD!!
JICOFO_COMPONENT_SECRET=!!JICOFO_COMPONENT_SECRET!!
DOMAIN=!!DOMAIN!!
CUSTOMERNAME=!!CUSTOMERNAME!!
HOST_IPv4=!!HOST_IPv4!!
